<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>OAUTH2 Fantastico IDP</title>
    
    <link rel="stylesheet" href="../../_static/epub.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" /> 
  </head>
  <body>

    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="technical_summary.html" title="OAUTH2 Technical Summary"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="controllers_security.html" title="Controllers security"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">fantastico 0.6.0-b136 documentation</a> &raquo;</li>
          <li><a href="../features.html" >Fantastico features</a> &raquo;</li>
          <li><a href="../oauth2.html" accesskey="U">OAUTH2</a> &raquo;</li> 
      </ul>
    </div>

    <div class="document">
      <div class="documentwrapper">
          <div class="body">
            
  <div class="section" id="oauth2-fantastico-idp">
<h1>OAUTH2 Fantastico IDP</h1>
<p>Fantastico provides a default Identity provider which provides required APIs for managing users. As other Fantastico
extensions the APIs are secured with OAUTH2 tokens.</p>
<div class="section" id="apis">
<h2>APIs</h2>
<table border="1" class="docutils">
<colgroup>
<col width="37%" />
<col width="8%" />
<col width="17%" />
<col width="39%" />
</colgroup>
<tbody valign="top">
<tr class="row-odd"><td><strong>URI</strong></td>
<td><strong>Verb</strong></td>
<td><strong>Required scopes</strong></td>
<td><strong>Description</strong></td>
</tr>
<tr class="row-even"><td><strong>/oauth/idp/profile?token=...</strong></td>
<td>GET</td>
<td>user.profile.read</td>
<td>Retrieves information about authenticated user.</td>
</tr>
<tr class="row-odd"><td><strong>/oauth/idp/profile?token=...</strong></td>
<td>POST</td>
<td>&nbsp;</td>
<td>Creates a new user profile.</td>
</tr>
<tr class="row-even"><td><strong>/oauth/idp/profile?token=...</strong></td>
<td>PUT</td>
<td>user.profile.update</td>
<td>Updates an existing user profile.</td>
</tr>
<tr class="row-odd"><td><strong>/oauth/idp/profile?token=...</strong></td>
<td>DELETE</td>
<td>user.profile.delete</td>
<td>Updates an existing user profiler.</td>
</tr>
<tr class="row-even"><td><strong>/oauth/idp/ui/login?return_url=/test-url</strong></td>
<td>DELETE</td>
<td>user.profile.delete</td>
<td>Updates an existing user profiler.</td>
</tr>
</tbody>
</table>
</div>
<div class="section" id="user-profile-data">
<h2>User profile data</h2>
<img alt="../../_images/idp_profiles.png" src="../../_images/idp_profiles.png" />
</div>
<div class="section" id="login-frontend">
<h2>Login frontend</h2>
<img alt="../../_images/idp_login.png" src="../../_images/idp_login.png" />
<p>Fantastico provides the secure process for login and account recovery. Developers can easily customize the login screen by providing
a template which must be applied to login screen. A typical custom login template is presented below:</p>
<div class="highlight-html"><div class="highlight"><pre>{% block head %}
   <span class="nt">&lt;title&gt;</span>Simple login template<span class="nt">&lt;/title&gt;</span>
{% endblock %}

{% block body_header %}
   <span class="nt">&lt;h1&gt;</span>Login screen<span class="nt">&lt;/h1&gt;</span>
{% endblock %}

{% block body_footer %}
   <span class="nt">&lt;h6&gt;</span>A tiny little footer.<span class="nt">&lt;/h6&gt;</span>
{% endblock %}
</pre></div>
</div>
<p>You can find documentation on how to configure custom login template on <a class="reference internal" href="../../get_started/settings.html"><em>Fantastico settings</em></a>.</p>
</div>
</div>


          </div>
      </div>
      <div class="clearer"></div>
    </div>


    <div class="footer">
        &copy; Copyright 2013, Radu Viorel Cosnita.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2b1.
    </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42788125-1', 'rcosnita.github.io');
  ga('send', 'pageview');
</script>

  </body>
</html>