<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Dynamic menu</title>
    
    <link rel="stylesheet" href="../../../_static/epub.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" /> 
  </head>
  <body>

    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../../../how_to/how_to.html" title="How to articles"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="../../components_builtin.html" title="Built in components"
             accesskey="P">previous</a> |</li>
        <li><a href="../../../index.html">fantastico 0.2.2-b100 documentation</a> &raquo;</li>
          <li><a href="../../features.html" >Fantastico features</a> &raquo;</li>
          <li><a href="../../components_builtin.html" accesskey="U">Built in components</a> &raquo;</li> 
      </ul>
    </div>

    <div class="document">
      <div class="documentwrapper">
          <div class="body">
            
  <div class="section" id="dynamic-menu">
<h1>Dynamic menu</h1>
<p>Menus are a core part of every web site / application as well as mobile applications. More over, again and again
developers will want a quick way to define menu items without actually redefining menu data structure again and again.
This component which we generic named dynamic menu simply provides the controller and the model for easy development of menus.</p>
<div class="section" id="integration">
<h2>Integration</h2>
<p>In order to use dynamic menu component within your project follow the steps below:</p>
<ol class="arabic">
<li><p class="first">Create a symbolic link under your root components folder to dynamic_menu.</p>
<div class="highlight-bash"><div class="highlight"><pre>mkdir &lt;components root&gt;/dynamic_menu
<span class="nb">cd</span> &lt;components root&gt;/dynamic_menu
ln -s ../../pip-deps/lib/python<span class="o">[</span>version<span class="o">]</span>/site-packages/fantastico/contrib/dynamic_menu/sql .
ln -s ../../pip-deps/lib/python<span class="o">[</span>version<span class="o">]</span>/site-packages/fantastico/contrib/dynamic_menu/tests .
ln -s ../../pip-deps/lib/python<span class="o">[</span>version<span class="o">]</span>/site-packages/fantastico/contrib/dynamic_menu/*.py .
</pre></div>
</div>
</li>
<li><p class="first">Create a template in one of your components in which you define the menu view:</p>
<div class="highlight-html"><div class="highlight"><pre><span class="c">&lt;!-- *sample_menu.html* - simple snippet for creating a left / right side dockable menu. --&gt;</span>
{% for menu_item in model[&quot;items&quot;] %}
   <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;{{menu_item.url}}&quot;</span> <span class="na">title=</span><span class="s">&quot;{{menu_item.title}}&quot;</span> <span class="na">target=</span><span class="s">&quot;{{menu_item.target}}&quot;</span><span class="nt">&gt;</span>{{menu_item.label}}<span class="nt">&lt;/a&gt;&lt;br/&gt;</span>
{% endfor %}
</pre></div>
</div>
</li>
<li><p class="first">In all views where you want to reuse the component you can paste the following snippet:</p>
<div class="highlight-html"><div class="highlight"><pre>{% component template=&quot;sample_menu.html&quot;, url=&quot;/dynamic-menu/menus/1/items/&quot; %}{% endcomponent %}
</pre></div>
</div>
</li>
<li><p class="first">Make sure you run <strong>dynamic_menu/sql/module_setup.sql</strong> against your configured database.</p>
</li>
<li><p class="first">This script will create <strong>menus</strong> and <strong>menu_items</strong> tables into your database. Below you can find a sample script for creating a menu:</p>
<div class="highlight-sql"><div class="highlight"><pre><span class="k">INSERT</span> <span class="k">INTO</span> <span class="n">menus</span><span class="p">(</span><span class="n">name</span><span class="p">)</span> <span class="k">VALUES</span><span class="p">(</span><span class="s1">&#39;My First Menu&#39;</span><span class="p">);</span>
<span class="k">INSERT</span> <span class="k">INTO</span> <span class="n">menu_items</span><span class="p">(</span><span class="n">target</span><span class="p">,</span> <span class="n">url</span><span class="p">,</span> <span class="n">title</span><span class="p">,</span> <span class="n">label</span><span class="p">)</span>
<span class="k">VALUES</span> <span class="p">(</span><span class="s1">&#39;_blank&#39;</span><span class="p">,</span> <span class="s1">&#39;/homepage&#39;</span><span class="p">,</span> <span class="s1">&#39;Simple and friendly description&#39;</span><span class="p">,</span> <span class="s1">&#39;Home&#39;</span><span class="p">,</span> <span class="o">&lt;</span><span class="n">menu_id</span> <span class="k">from</span> <span class="n">previous</span> <span class="n">step</span><span class="o">&gt;</span><span class="p">),</span>
       <span class="p">(</span><span class="s1">&#39;_blank&#39;</span><span class="p">,</span> <span class="s1">&#39;/page2&#39;</span><span class="p">,</span> <span class="s1">&#39;Simple and friendly description&#39;</span><span class="p">,</span> <span class="s1">&#39;Page 2&#39;</span><span class="p">,</span> <span class="o">&lt;</span><span class="n">menu_id</span> <span class="k">from</span> <span class="n">previous</span> <span class="n">step</span><span class="o">&gt;</span><span class="p">),</span>
       <span class="p">(</span><span class="s1">&#39;_blank&#39;</span><span class="p">,</span> <span class="s1">&#39;/page3&#39;</span><span class="p">,</span> <span class="s1">&#39;Simple and friendly description&#39;</span><span class="p">,</span> <span class="s1">&#39;Page 3&#39;</span><span class="p">,</span> <span class="o">&lt;</span><span class="n">menu_id</span> <span class="k">from</span> <span class="n">previous</span> <span class="n">step</span><span class="o">&gt;</span><span class="p">);</span>
</pre></div>
</div>
<p>By default, when this component is first setup into an application, the sample menu mentioned above is created in database. You
can test to see that dynamic menu works by accessing dev server url: <a class="reference external" href="http://localhost:12000/dynamic-menu/menus/1/items/">http://localhost:12000/dynamic-menu/menus/1/items/</a>.</p>
</li>
</ol>
</div>
<div class="section" id="current-limitations">
<h2>Current limitations</h2>
<p>Because <strong>Fantastico</strong> framework is developed using an Agile mindset, only the minimum valuable scope was delivered for
<strong>Dynamic Menu</strong> component. This mean is not currently possible to:</p>
<blockquote>
<div><ul class="simple">
<li>Localize your menu items.</li>
<li>Display the menu items in the request language dynamically.</li>
<li>Only first 100 menu items can be currently retrieved.</li>
</ul>
</div></blockquote>
</div>
<div class="section" id="technical-summary">
<h2>Technical summary</h2>
<dl class="class">
<dt id="fantastico.contrib.dynamic_menu.menu_controller.DynamicMenuController">
<em class="property">class </em><tt class="descclassname">fantastico.contrib.dynamic_menu.menu_controller.</tt><tt class="descname">DynamicMenuController</tt><big>(</big><em>settings_facade</em><big>)</big><a class="reference internal" href="../../../_modules/fantastico/contrib/dynamic_menu/menu_controller.html#DynamicMenuController"><span class="viewcode-link">[source]</span></a></dt>
<dd><p>This class provides the controller for dynamic menus. The following routes are automatically made available
when dynamic menu component is deployed:</p>
<blockquote>
<div><strong>/dynamic-menu/menus/&lt;menu_id&gt;/items/</strong> &#8211; This route loads menu items from database and retrieve them in json format.</div></blockquote>
<p>Below you can see a diagram describing relation model of the menu:</p>
<img alt="../../../_images/erd.png" src="../../../_images/erd.png" />
<dl class="attribute">
<dt id="fantastico.contrib.dynamic_menu.menu_controller.DynamicMenuController.max_items">
<tt class="descname">max_items</tt><a class="reference internal" href="../../../_modules/fantastico/contrib/dynamic_menu/menu_controller.html#DynamicMenuController.max_items"><span class="viewcode-link">[source]</span></a></dt>
<dd><p>This property retrieves the maximum number of items allowed for a menu.</p>
</dd></dl>

<dl class="method">
<dt id="fantastico.contrib.dynamic_menu.menu_controller.DynamicMenuController.retrieve_menu_items">
<tt class="descname">retrieve_menu_items</tt><big>(</big><em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="../../../_modules/fantastico/contrib/dynamic_menu/menu_controller.html#DynamicMenuController.retrieve_menu_items"><span class="viewcode-link">[source]</span></a></dt>
<dd><p>This method is used to retrieve all items associated with a specified menu.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first simple">
<li><strong>request</strong> (<em>HTTP request</em>) &#8211; Http request being processed.</li>
<li><strong>menu_id</strong> (<em>int</em>) &#8211; Menu unique identifier we want to retrieve information for.</li>
</ul>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><p class="first">A JSON array containing all available menu items.</p>
</td>
</tr>
<tr class="field-odd field"><th class="field-name" colspan="2">Raises <a class="reference internal" href="#fantastico.contrib.dynamic_menu.menu_exceptions.FantasticoMenuNotFoundException" title="fantastico.contrib.dynamic_menu.menu_exceptions.FantasticoMenuNotFoundException">fantastico.contrib.dynamic_menu.menu_exceptions.FantasticoMenuNotFoundException</a>:</th></tr>
<tr class="field-odd field"><td>&nbsp;</td><td class="field-body"><p class="first last">Whenever the requested menu does not exist.</p>
</td>
</tr>
</tbody>
</table>
</dd></dl>

</dd></dl>

<dl class="class">
<dt id="fantastico.contrib.dynamic_menu.menu_exceptions.FantasticoMenuNotFoundException">
<em class="property">class </em><tt class="descclassname">fantastico.contrib.dynamic_menu.menu_exceptions.</tt><tt class="descname">FantasticoMenuNotFoundException</tt><a class="reference internal" href="../../../_modules/fantastico/contrib/dynamic_menu/menu_exceptions.html#FantasticoMenuNotFoundException"><span class="viewcode-link">[source]</span></a></dt>
<dd><p>This class defines a concrete fantastico menu not found exception raised whenever someone tries to access an inexistent
menu attributes.</p>
</dd></dl>

</div>
</div>


          </div>
      </div>
      <div class="clearer"></div>
    </div>


    <div class="footer">
        &copy; Copyright 2013, Radu Viorel Cosnita.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2b1.
    </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42788125-1', 'rcosnita.github.io');
  ga('send', 'pageview');
</script>

  </body>
</html>