<!DOCTYPE html>

<html lang="{{page.language}}">
   <head>
      <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="keywords" content="{{page.keywords}}" />
      <meta name="description" content="{{page.description}}" />

      <title>{{page.title}}</title>
   </head>

   <body>
      <h1>{{page.article_title.value}}</h1>

      <h2>{{page.article_content.value}}</h2>
   </body>
 </html>