<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>ROA Auto discovery</title>
    
    <link rel="stylesheet" href="../../../_static/epub.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" /> 
  </head>
  <body>

    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../oauth2/oauth2_idp/index.html" title="OAuth2 Identity Provider"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="../tracking_codes/tracking_codes.html" title="Tracking codes"
             accesskey="P">previous</a> |</li>
        <li><a href="../../../index.html">fantastico 0.7.0-b141 documentation</a> &raquo;</li>
          <li><a href="../../features.html" >Fantastico features</a> &raquo;</li>
          <li><a href="../../components_builtin.html" accesskey="U">Built in components</a> &raquo;</li> 
      </ul>
    </div>

    <div class="document">
      <div class="documentwrapper">
          <div class="body">
            
  <div class="section" id="roa-auto-discovery">
<h1>ROA Auto discovery</h1>
<p>REST relies on hypermedia and links in order to decouple clients from physical location of resources. In Fantastico,
we allow clients to introspect the platform in order to know which are the registered resources. Following some simple steps
you can enable autodiscovery of resources.</p>
<div class="section" id="integration">
<h2>Integration</h2>
<ol class="arabic">
<li><p class="first">Activate <strong>ROA Discovery</strong> extension.</p>
<div class="highlight-bash"><div class="highlight"><pre>fsdk activate-extension --name roa_discovery --comp-root &lt;comp_root&gt;
</pre></div>
</div>
</li>
<li><p class="first">Start your project</p>
</li>
<li><p class="first">Access <a class="reference external" href="http://localhost/roa/resources">http://localhost/roa/resources</a></p>
</li>
</ol>
<p>By default, <strong>ROA Discovery</strong> extension defines a sample resource (<strong>Sample Resource</strong>) which must be always present in your
discovery registry.</p>
</div>
<div class="section" id="current-limitations">
<h2>Current limitations</h2>
<blockquote>
<div><ul class="simple">
<li>ROA discovery supports only application/json content type for responses.</li>
</ul>
</div></blockquote>
</div>
<div class="section" id="technical-summary">
<h2>Technical summary</h2>
<dl class="class">
<dt id="fantastico.contrib.roa_discovery.discovery_controller.RoaDiscoveryController">
<em class="property">class </em><tt class="descclassname">fantastico.contrib.roa_discovery.discovery_controller.</tt><tt class="descname">RoaDiscoveryController</tt><big>(</big><em>settings_facade</em>, <em>registry_cls=None</em><big>)</big><a class="reference internal" href="../../../_modules/fantastico/contrib/roa_discovery/discovery_controller.html#RoaDiscoveryController"><span class="viewcode-link">[source]</span></a></dt>
<dd><p>This class provides the routes for introspecting Fantastico registered resources through ROA. It is extremely useful
to surf using your browser and to not be required to hardcode links in your code. Typically, you will want to code your
client side applications against resources name and you are going to use this controller to find the location of those
records.</p>
<p>By default, all ROA resources are mapped on <strong>/api/</strong> relative to current project root. You can easily change this behavior
by modifying the settings of your application (<a class="reference internal" href="../../../get_started/settings.html#fantastico.settings.BasicSettings" title="fantastico.settings.BasicSettings"><tt class="xref py py-class docutils literal"><span class="pre">fantastico.settings.BasicSettings</span></tt></a> - property <strong>roa_api_url</strong>)</p>
<dl class="method">
<dt id="fantastico.contrib.roa_discovery.discovery_controller.RoaDiscoveryController.handle_list_resources_options">
<tt class="descname">handle_list_resources_options</tt><big>(</big><em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="../../../_modules/fantastico/contrib/roa_discovery/discovery_controller.html#RoaDiscoveryController.handle_list_resources_options"><span class="viewcode-link">[source]</span></a></dt>
<dd><p>This method handles all OPTIONS cors requests coming for resources registry listing.</p>
</dd></dl>

<dl class="method">
<dt id="fantastico.contrib.roa_discovery.discovery_controller.RoaDiscoveryController.list_registered_resources">
<tt class="descname">list_registered_resources</tt><big>(</big><em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="../../../_modules/fantastico/contrib/roa_discovery/discovery_controller.html#RoaDiscoveryController.list_registered_resources"><span class="viewcode-link">[source]</span></a></dt>
<dd><p>This method list all registered resources as well as a link to their entry point.</p>
<div class="highlight-javascript"><div class="highlight"><pre><span class="c1">// ROA api is mapped on a subdomain: roa.fantasticoproject.com</span>
<span class="c1">// listing is done by GET http://fantasticoproject.com/roa/resources HTTP/1.1</span>

<span class="p">{</span>
    <span class="s2">&quot;Person&quot;</span><span class="o">:</span> <span class="p">{</span><span class="mf">1.0</span> <span class="o">:</span> <span class="s2">&quot;http://roa.fantasticoproject.com/1.0/persons&quot;</span><span class="p">,</span>
               <span class="s2">&quot;latest&quot;</span><span class="o">:</span> <span class="s2">&quot;http://roa.fantasticoproject.com/latest/persons&quot;</span><span class="p">},</span>
    <span class="s2">&quot;Address&quot;</span><span class="o">:</span> <span class="p">{</span><span class="mf">1.0</span> <span class="o">:</span> <span class="s2">&quot;http://roa.fantasticoproject.com/1.0/addresses&quot;</span><span class="p">,</span>
                <span class="mf">2.0</span> <span class="o">:</span> <span class="s2">&quot;http://roa.fantasticoproject.com/2.0/addresses&quot;</span><span class="p">,</span>
                <span class="s2">&quot;latest&quot;</span><span class="o">:</span> <span class="s2">&quot;http://roa.fantasticoproject.com/latest/addresses&quot;</span><span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="highlight-javascript"><div class="highlight"><pre><span class="c1">// ROA api is mapped on a relative path of the project: http://fantasticoproject.com/api/</span>
<span class="c1">// listing is done by GET http://fantasticoproject.com/roa/resources HTTP/1.1</span>

<span class="p">{</span>
    <span class="s2">&quot;Person&quot;</span><span class="o">:</span> <span class="p">{</span><span class="mf">1.0</span> <span class="o">:</span> <span class="s2">&quot;http://fantasticoproject.com/api/1.0/persons&quot;</span><span class="p">,</span>
               <span class="s2">&quot;latest&quot;</span><span class="o">:</span> <span class="s2">&quot;http://roa.fantasticoproject.com/api/latest/persons&quot;</span><span class="p">},</span>
    <span class="s2">&quot;Address&quot;</span><span class="o">:</span> <span class="p">{</span><span class="mf">1.0</span> <span class="o">:</span> <span class="s2">&quot;http://roa.fantasticoproject.com/api/1.0/addresses&quot;</span><span class="p">,</span>
                <span class="mf">2.0</span> <span class="o">:</span> <span class="s2">&quot;http://roa.fantasticoproject.com/api/2.0/addresses&quot;</span><span class="p">,</span>
                <span class="s2">&quot;latest&quot;</span><span class="o">:</span> <span class="s2">&quot;http://roa.fantasticoproject.com/api/latest/addresses&quot;</span><span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</dd></dl>

</dd></dl>

</div>
</div>


          </div>
      </div>
      <div class="clearer"></div>
    </div>


    <div class="footer">
        &copy; Copyright 2013, Radu Viorel Cosnita.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2b1.
    </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42788125-1', 'rcosnita.github.io');
  ga('send', 'pageview');
</script>

  </body>
</html>