<!DOCTYPE html>
<html>

<head>
{% block head %}
    <title>Fantastico IDP default login</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
{% endblock %}
</head>

<body>
{% block body_header %}
<div class="row" align="center">
    <div class="col-md-4">
{% endblock %}

    <div class="panel panel-default">
        <div class="panel-heading">
            {% block panel_header %}
            <h1>Login to fantastico</h1>
            {% endblock %}
        </div>
        <div class="panel-body">
            <form role="form" class="form-horizontal" id="fantastico-login" 
                    action="/oauth/idp/login?return_url={{return_url}}" method="post">
                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control" placeholder="johndoe@email.com" />
                </div>
                
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" />
                </div>
                
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary btn-lg" id="btn-login">Login</button>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <h4>Created by Radu Viorel Cosnita</h4>
        </div>
    </div>

{% block body_footer %}
    </div>
</div>
{% endblock %}
</body>

</html>